.host-detail-pagev2 {
  min-height: 100vh;
  background: var(--raisin-black);
  padding-top: 100px;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  grid-template-columns: 1fr 1.5fr;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.host-detail-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* targets react videoplayer  */
/* .host-detail-pagev2 > div:nth-of-type(1){
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid #5643cc;
  width: auto;
  height: 45% !important;
}

.host-detail-pagev2 > div:nth-of-type(1) > video{
  height: 100%;
  object-fit: cover;
} */

.shadow {
  width: 50%;
  max-width: 350px;
  border-radius: 7px;
  margin-bottom: 5%;
  height: 50%;
  max-height: 350px;
  position: absolute;
  box-shadow: inset 3px 3px 10px 0 pink;
  border-radius: 20px;
  top: 0;
  left: 0;
}

.host-detail-pagev2 .host-image{
  width: 50%;
  max-width: 350px;
  border-radius: 7px;
  margin-bottom: 5%;
  height: 50%;
  max-height: 350px;
}

/* .host-img-border {
  width: 50%;
  max-width: 350px;
  border-radius: 7px;
  margin-bottom: 5%;
  height: 50%;
  max-height: 350px;
  background-color: red;
} */

.host-detail-info-container{
  width: 90%;
  border-radius: 7px;
  border: 1px solid #5643cc;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.host-detail-info-container h3{

  font-size: 1.2rem;
  line-height: normal;
  padding-bottom: 0;
  color: hsl(256, 97%, 69%);
}


.host-detail-checkout{
  /* min-height: 100vh; */
    background: var(--raisin-black);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 15vh;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    
}

.host-detail-checkout #checkout-form{
  border-radius: 7px;
  border: 1px solid #5643cc;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  position:relative;
}

.checkout-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  padding:1%;
  
}

.checkout-item img{
  border-radius: 7px;
  overflow: hidden;
  max-width:300px; 
}

.checkout-button {
  width:500px;
}

@media all and (min-width: 300px) and (max-width: 862px) { 

  .host-detail-pagev2 {
    min-height: 100vh;
    background: var(--raisin-black);
    padding-top: 8vh;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    grid-template-columns: 1fr 1.5fr;
    justify-content: start;
    /* align-items: center; */
    flex-direction: column;
}

.host-detail-pagev2 .host-image {
  width: 90%;
  max-width: 200px;
  border-radius: 7px;
  margin-bottom: 5%;
  height: 50%;
  max-height: 350px;
}

.host-detail-pagev2 h2{
  font-size: 1.7rem;
}

.host-detail-info-container h3{
  font-size: 1rem;
  width:75%;
  
}

.host-detail-info-container p{
  font-size: .9rem;
}

.host-detail-checkout {
  min-height: 100vh;
  background: var(--raisin-black);
  /* padding-left: 2%; */
  /* padding-right: 2%; */
  padding-top: 1vh;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* justify-items: center; */
  /* grid-template-columns: 1fr 1fr; */
  /* margin-left: 5%; */
  /* margin-right: 5%; */
  /* width: 90%; */
  padding-top: 8vh;

}
.checkout-item{
  display:none; 
}

.host-detail-checkout #checkout-form {
  border-radius: 7px;
  border: 1px solid #5643cc;
  margin-bottom: 5%;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5;
  padding-bottom: 1%;
  position: relative;
  width: 95%;
  padding-top: 8%;

}

.host-detail-checkout h2{
  font-size:1.5rem; 
}

.host-detail-checkout h3{
  font-size:1rem; 
}

.host-detail-checkout p{
  font-size:.8rem; 
}

.card-element {
  width: 100%;
}

.MuiOutlinedInput-root {
  font-size: 1rem !important;
}

/* .ElementsApp .InputElement 
  {
  font-size: 1rem !important;
} */

}


.host-video{
    border-radius: 75px;
    /* border: var(--ocean-blue) solid 1px; */
    /* width: 250px; */
    height: 100%;
    overflow: hidden;
    position: relative;
}

.host-video > div:nth-of-type(1) {
  /* width:100% !important; */
  height:100% !important; 
}
