.host-detail-pagev2 {
  min-height: 100vh;
  background: var(--raisin-black);
  /* padding-top: 100px; */
  padding-left: 2%;
  padding-right: 2%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-items: center;
  align-items: center;
}

.host-detail-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* targets react videoplayer  */
.host-detail-pagev2 > div:nth-of-type(1){
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid #5643cc;
  width: auto;
  height: 45% !important;
}

.host-detail-pagev2 > div:nth-of-type(1) > video{
  height: 100%;
  object-fit: cover;
}

.host-detail-info-container{
  width: 90%;
  border-radius: 7px;
  border: 1px solid #5643cc;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.host-detail-info-container h3{
  color: var(--cerise);
}


.host-detail-checkout{
  min-height: 100vh;
    background: var(--raisin-black);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 7vh;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.host-detail-checkout #checkout-form{
  border-radius: 7px;
  border: 1px solid #5643cc;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  position:relative;
}

.checkout-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  border: 1px solid var(--isabelline);
  border-radius:5px;
  padding:1%;
}

.checkout-item img{
  border-radius: 7px;
  overflow: hidden;
}
