.join-page-container{
  min-height: 100vh;
  background: var(--raisin-black);
  /* padding-top: 100px; */
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  /* grid-template-columns: 1fr 1.5fr; */
  /* justify-items: center; */
  /* align-items: center; */
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.join-page-container h3{
  color:var(--cerise)
}