@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  --yellow: #E2E1B9;
  --green: #5A7D7C;
  --mont-font: 'Montserrat', sans-serif;
  --alt-font: 'Righteous', cursive;
  --new-font: 'Barlow', sans-serif;
  --raleway: 'Raleway', sans-serif;

}

#root {
  background-color: black;
}

.root-router {
  background-color: black;
}

.root-container {
  display: grid;
  grid-template-rows: 10vh 90vh;
}

html,
body {
  width: 100%;
  height: 100%;
}

.App {
  height: 100%;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

h1,
h2,
h3,
h4 {

  font-family: var(--new-font);
  color: var(--yellow);
}

.card-element {
  padding: 20px;
  border: .1px;
  border-color: grey;
  border-style: solid;
  border-radius: 3px;
  margin-top: 10px;
}

.card-element:hover {
  border-color: white;
}

.section-wrapper {
  width: 100%;
  height: 100%;
  /* position: relative; */
}

.loading-section {
  height: 100vh;
  background: #302B27;
  /* position: absolute; */
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-section {
  padding-left: 1rem;
}

.header-logo {
  position: fixed;
  top: 0;
}

.loading-section h1 {
  font-family: var(--mont-font);
}

.phone {
  color: white;
  width: 150px;
}

.loading-text {
  opacity: 0;
  color: white;
}

.section-1 {
  height: 90vh;
  width: 100%;
  background: var(--green);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  /* grid-template-columns: 2fr 1fr; */
  /* z-index: -1; */
}

.section-2 {
  display: grid;
  grid-template-rows: 200px auto;
  padding: 20px;
  padding-bottom: 40px;
  justify-content: center;
  height: 60vh;
  background: black;

}

.host-grid {
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
  height: 30vh;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  align-self: center;
}

.host-card {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 200px;
  border-width: .1px;
  /* border-color: rgba(112, 112, 112, .25); */
  border-color: rgba(226, 225, 185, .2);
  border-style: solid;
  border-radius: 20px;
  overflow: hidden;
}

.host-card-img {
  max-width: 200px;
  max-height: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.host-card-info {
  height: 200px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
}

#host-name {
  font-size: 1.4rem;
}

#host-price {
  align-self: end;
  position: absolute;
  bottom: 10px;
  right: 0;
  color: white;
}

.host-detail-page {
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 100px;
}

.host-detail-page [data-CheckoutCard="false"] {
  height: 70vh;
  grid-template-rows: auto;
  margin-top: 0;
}

.host-detail-card {
  display: grid;
  position: relative;
  grid-template-rows: 100px 75px 1fr;
  justify-content: space-between;
  width: 60vw;
  align-items: start;
  justify-items: center;
  justify-content: center;
  border-width: 1px;
  border-color: rgba(226, 225, 185, .5);
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  border-radius: 10px;
}


.host-detail-card [data-isCardCheckout="true"] {
  background-color: salmon;
}

.host-detail-card img {
  width: 250px;
  border-radius: 125px;
}

/* .host-detail-card img[data-isCheckout="true"] {
  justify-self: start;
} */

.host-header-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
}

.host-header-layout[data-isCheckout="true"] {
  flex-direction: row;
  justify-items: flex-start;
  width: 100%;
  grid-row: 1;
}

.host-detail-card p {
  font-family: var(--new-font);
  font-size: 20px;
  color: white;
}

.host-detail-card a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.checkout-button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: var(--yellow);
}

.checkout-button h2 {
  color: black;
  font-size: 1.5rem;

}

.section-3 {
  display: grid;
  grid-template-rows: auto 300px;
  padding: 20px;
  padding-bottom: 40px;
}

.living-room {
  /* position: absolute;
  bottom: 0;
  right: 0; */
  grid-row: 3;
  grid-column: 3;
  justify-self: end;
}

.section-3 {
  height: 90vh;
  background: var(--green);
}